.thumbnail {
    width: 300px;
    display:block;
    
    
    
    
}

.searchbox{
    font-size:22px;
    margin-left:30px;
    width:500px;
    padding: 12px 20px;
   
    font-family: Arial, sans-serif;
    border:1px solid #ccc;
    outline: none;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
    
    border-radius:50px;
    border-width: 1px;
    
    
}
